# dependencies
node_modules

# lock
package-lock.json

# buidler
artifacts
cache
deployments/private_1337

# coverage
.coverage_artifacts
.coverage_cache
.coverage_contracts
coverage
coverage.json

# macOS shit
.DS_Store
