# lerna
lerna-debug.log

# dependencies
node_modules

# lock
package-lock.json

# buidler
artifacts
cache

# coverage
coverage
coverage.json
coverage_artifacts
coverage_cache
coverage_contracts

# macOS shit
.DS_Store

